<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserInfoLabel" jhiTranslate="diDomApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="diDomApp.userInfo.userType" for="field_userType">User Type</label>
            <select class="form-control" name="userType" [(ngModel)]="userInfo.userType" id="field_userType"  required>
                <option value="HIRE" jhiTranslate="diDomApp.TypeUser.HIRE">HIRE</option>
                <option value="SEEKER" jhiTranslate="diDomApp.TypeUser.SEEKER">SEEKER</option>
            </select>
            <div [hidden]="!(editForm.controls.userType?.dirty && editForm.controls.userType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="diDomApp.userInfo.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userInfo.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userInfo.user?.id ? userInfo.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="diDomApp.userInfo.address" for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="userInfo.address" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === userInfo.address?.id ? userInfo.address : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
