
<div *ngIf="userInfo">
    <h2><span jhiTranslate="diDomApp.userInfo.detail.title">User Info</span> {{userInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diDomApp.userInfo.userType">User Type</span></dt>
        <dd>
            <span jhiTranslate="{{'diDomApp.TypeUser.' + userInfo.userType}}">{{userInfo.userType}}</span>
        </dd>
        <dt><span jhiTranslate="diDomApp.userInfo.user">User</span></dt>
        <dd>
            {{userInfo.user?.login}}
        </dd>
        <dt><span jhiTranslate="diDomApp.userInfo.address">Address</span></dt>
        <dd>
            <div *ngIf="userInfo.address">
                <a [routerLink]="['/location', userInfo.address?.id]">{{userInfo.address?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-info/'+ userInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
