<div>
    <h2>
        <span jhiTranslate="diDomApp.proposal.home.title">Proposals</span>
        <button class="btn btn-primary float-right create-proposal" [routerLink]="['/', { outlets: { popup: ['proposal-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="diDomApp.proposal.home.createLabel">
            Create new Proposal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'diDomApp.proposal.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="proposals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="proposalTime"><span jhiTranslate="diDomApp.proposal.proposalTime">Proposal Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentAmount"><span jhiTranslate="diDomApp.proposal.paymentAmount">Payment Amount</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="clientGrade"><span jhiTranslate="diDomApp.proposal.clientGrade">Client Grade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientComment"><span jhiTranslate="diDomApp.proposal.clientComment">Client Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="freelanceGrade"><span jhiTranslate="diDomApp.proposal.freelanceGrade">Freelance Grade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="freelanceComment"><span jhiTranslate="diDomApp.proposal.freelanceComment">Freelance Comment</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="job.id"><span jhiTranslate="diDomApp.proposal.job">Job</span> <span class="fa fa-sort"></span></th>
            <th *jhiHasAnyAuthority="'ROLE_HIRE'" jhiSortBy="user.login"><span jhiTranslate="diDomApp.proposal.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentType.id"><span jhiTranslate="diDomApp.proposal.paymentType">Payment Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currentProposalStatus.statusName"><span jhiTranslate="diDomApp.proposal.currentProposalStatus">Current Proposal Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let proposal of proposals ;trackBy: trackId">
                <td><a [routerLink]="['../proposal', proposal.id ]">{{proposal.id}}</a></td>
                <td>{{proposal.proposalTime | date:'medium'}}</td>
                <td>{{proposal.paymentAmount}}</td>
                <!--<td>{{proposal.clientGrade}}</td>
                <td>{{proposal.clientComment}}</td>
                <td>{{proposal.freelanceGrade}}</td>
                <td>{{proposal.freelanceComment}}</td>-->
                <td>
                    <div *ngIf="proposal.job">
                        <a [routerLink]="['../job', proposal.job?.id ]" >{{proposal.job?.title}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_HIRE'">
                    {{proposal.user?.login}}
                </td>
                <td>
                    <div *ngIf="proposal.paymentType">
                        <a [routerLink]="['../payment-type', proposal.paymentType?.id ]" >{{proposal.paymentType?.typeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proposal.currentProposalStatus">
                        <a [routerLink]="['../proposal-status-catalog', proposal.currentProposalStatus?.id ]" >{{proposal.currentProposalStatus?.statusName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../proposal', proposal.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proposal/'+ proposal.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proposal/'+ proposal.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
